/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* General Styles */
body {
    line-height: 1.6;
    background-color: #F9FAFB;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
#header {
    background-color: #1F2937;
    color: #FFFFFF;
    padding: 20px;
}

.header-text p, .nav-list > li{
    font-size: 18px;
    color: #E5E7EB
}

#hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.logo h2 {
    margin: 0;
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-list li a:hover {
    text-decoration: underline;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.header-text {
    flex: 1;
    margin-right: 40px;
}

.header-title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #F9FAF8;
}

.header-img img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
}

/* Main Content */
.main-content {
    margin: 40px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.main-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.product-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.product-item {
    width: calc(25% - 20px);
    text-align: center;
}

.product-item img {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    font-style: italic;
    text-align: center;
    padding: 100px;
    border-radius: 8px;
}

.quote .author-name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1rem;
    align-self: flex-end;
}

/* Call-to-Action */
.call-to-action-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    color: #FFFFFF;
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    margin: 80px auto;
    max-width: 800px;
}

.cta-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.sign-u {
    background-color: #3882F6;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.6);
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sign-u:hover {
    background-color: #2563EB;
}

/* Footer */
.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 20px;
}
